:root{
}

body{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: center;
    padding: 0px;
    margin: 0px;
}

h1{
    grid-column: span 3;
}

.imageContainer{
    border: solid black 1px;
    height: 85vh;
    display: grid;
    width: 80vw;
    border-collapse: collapse;
}

.slidesDiv{
    border: solid black 1px;
    height: 20vh;
    align-self: flex-end;
}

.arrow{
    height: 100px;
    align-self: center;
    margin-top: -100px;
}