:root{
  scrollbar-gutter: stable both-edges;
}

.hidden{
  display: none;
}


body {
  padding: 0px;
  margin: 0px;
  display: grid;
  min-height: 100vh;  
}

#playInt{
  width: 18px;
  text-align: right;

}

.imageBox{
  padding-top: 3vh;
  display: flex;
  width: 100%;
}

footer{
  align-self: end;
  padding: 10px 5px 4px 5px;
  box-sizing: border-box;
  opacity: 100%;
  position:sticky;
  bottom: 0;  
  display: grid;
  width: fit-content;
  justify-self: center;
  background-color: rgb(218, 246, 255);
  border-radius: 10px;
  opacity: 85%;
}

.slidesDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
  justify-self: center;
}

.panel{
  display: flex;
  height: 30px;
  padding-left:30%;
  gap: 8px;
  font-weight: 800;
  font-size:18px;
  align-items: flex-start;
}

.playSlideStuff{
  gap:1px;
}

.intervalWrapper,
.intervalWrapper label{
  vertical-align:top;
}

label[for="interval"]{
  color:rgb(44, 112, 135);
}

.intervalWrapper label{
  box-sizing: border-box;
  font-size: 14px;
}

label[for="playInt"]>span {
  color: rgb(50, 72, 22);
  margin-left: 10px;
  margin-right: 10px;
}

.playIntDiv img{
  display: inline-block;
  height: 16px;
  margin-left: 3px;
  background-color: lightblue;
  border-radius: 100%;
  border: solid black 1px;
  margin-top: 1px;
}

.off{
  color:green;
}

.unavail{
 opacity: 35%;
}

.on{
  color:red;
}

.slide {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.slide > img {
  display: block;
}

.slide > input {
  align-items: flex-end;
  height: 15px;
}

.credit {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.arrow {
  height: 40px;
  border: 1px solid black;
  border-radius: 100px;
  background-color: lightgrey;
}

.imageBox > div{
  width: fit-content;
  transition: transform 1s ease;
}

.right{
  justify-self: right;
}