.hidden{
  display: none;
}


body {
  display: grid;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  overflow-y:auto;
  scrollbar-gutter: stable;
  position: relative;
}

header{
  display:flex;
  justify-content: center;
  width: inherit;
  height: 100px;
}

#playInt{
  width: 18px;
  text-align: right;
}

.imageContainer {
  display: grid;
  justify-items: center;
}

.imageBox > img {
  display: block;
}

.imageBox > p {
  text-align: center;
}

.slidesDiv {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 5px 5px;
  box-sizing: border-box;
  border-top: solid gray 1px;
  position: sticky;
  bottom: 0;
  background-color: lightgray;
  width:100%;
}

.playSlideStuff{
  position: absolute;
  left:20px;
  font-size: 18px;
  align-self: center;
  display: grid;
  gap:1px;
  grid-template-rows: repeat(2, 20px);
}

.playSlideStuff div:first-child label{
  font-weight: 800;
}

.playSlideStuff > .playIntDiv{
  font-size: 16px;
  padding-left: 3px;
}

.playIntDiv img{
  display: inline-block;
  height: 16px;
  margin-left: 3px;
  background-color: lightblue;
  border-radius: 100%;
  border: solid black 1px;
}




.slide {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.slide > img {
  display: block;
}

.slide > input {
  align-items: flex-end;
  height: 20px;
}

.credit {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.arrow {
  height: 100px;
  margin-top: 250px;
  position: absolute;
}

.rightArrow{
  right:10px;
}

.leftArrow{
  left: 10px;
}